<% simple_form_for(@message, :remote => true, :html => {:class => "yform"}) do |f| %>
 <fieldset>
  <div id= "message_errors" style="display:none"></div>
  Recipient : <%= autocomplete_field :message_recipient ,:email, autocomplete_user_email_messages_path, :as => :autocomplete, :size => 37 %> <br />
  Message : <%= f.input :message, :label => false,  :input_html =>{:rows => 6 , :cols => 35}%>
  </fieldset>
<% end %>
