<div class="list_message">
  <img src="/images/photo.png" class="img_stle" width="" height="" />
  <div class="desc_message">
    <a href="#" class="hovertitle"><div class="name_msg"><%= message.sender.full_name %></div></a>
    <div class="date_msg"><%= message.created_at.in_time_zone.strftime("%B %d, %Y %I:%M %p") %></div>
    <div class="content_msg2">
      <p><%= message.body %></p>
    </div>
  </div>
</div>