.tag_menu {
    width: 100%;
    margin-bottom: 10px;
    height:40px;
}

.list_message {
    width : 100%;
    float: left;
    border-top: 1px solid #dedede;
    padding-bottom:10px;
    padding-left:8px;
    padding-right:2px;
    padding-top:10px;
    border-color: #DCE2EC;
    margin-bottom: 10px;
}

.unread_message{
    background-color: #EBEEF4;
    border-color: #DCE2EC;
}

.comment_wraper {
    background:none repeat scroll 0 0 #EDEDED;
    border-bottom:1px solid #FFFFFF;
    float:left;
    padding:10px;
    width:93%;
    margin-top: 10px;
}

a.btn_newmessage {
    background: #e6e6e6;
    border: 1px solid #D3D3D3;
    padding: 5px;
    float: right;
    color: #aaa;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    border-radius: 0px !Important;
    margin-left: 2px;
}

a.btn_newmessage:hover {
    color: #555;
    border: 1px solid #aaa;
    text-decoration: none;
}

.img_stle {
    float: left;
    margin-right: 5px;
}

.desc_message {
    float: right;
    width: 90%;
}

.name_msg {
    font-size: 14px;
    color: #333;
    float:left;
    width: 70%;
    font-weight: bold;
    margin-bottom: 3px;
}
.title_msg{
    float:left;
    width: 100%;
    font-weight: bold;
    margin-bottom: 3px;
}

.author-msg{
    float:left;
    font-size: 14px;
    color: #333;
}
.author-msg a{
    color: #333;
    text-decoration: none;
}

.date_msg {
    text-align: right;
    font-size: 11px;
    color: #b5b5b5;
    font-weight: bold;
    float:right;
    padding-top:2px;
    margin-left: 10px;
}
.date_post {
    text-align: right;
    font-size: 11px;
    color: #b5b5b5;
    font-weight: bold;
    float:left;
    padding-top:2px;
    margin-left: 10px;
}
.edit_link_post{
    text-align: right;
    font-size: 11px;
    color: #b5b5b5;
    font-weight: bold;
    float:right;
    padding-top:2px;
    margin-right: 10px;
}

.content_msg {
    font-size: 12px;
    float: left;
    width: 98%;
    color: #777 !important;
    padding-right: 10px;
    text-align: justify;
}

.content_msg2 {
    font-size: 12px;
    float: left;
    width: 100%;
    color: #777 !important;
}

.tbl_message {
    float:left;
    width: 100%;
}

.tbl_message input {
    height: 20px;
    width: 255px;

}

.tbl_message textarea {
    height: 100px;
    width: 255px;
}

.tbl_message td {
    vertical-align: top;
    font-size: 12px;
    font-weight: bold;
    color: #555;
}

.tag_menu input {
    float: right;
    border: 1px solid #D3D3D3;
    height:24px;
    /*    margin-left: 5px;
        margin-right: 5px;
        padding-left: 5px;*/
    color: #666;
    margin-left: 2px;
}

.text_to {
    color: #666666;
    float: right;
    height: 24px;
    margin-left: 2px;
    padding-top: 5px;
}

a.btn_search {
    background: url("../images/btn_search.png") no-repeat;
    width: 22px;
    height: 26px;
    float: right;
}

a.btn_search:hover, a.btn_search:focus {
    border: none;
    outline: none;
}

.content_msg p {
    float: left;
    width: 100%;
    line-height: 15px;
    color: #777 !important;
}

.content_msg b {
    color:#0CB8BB;
    float:left;
    font-size:15px;
    font-weight:bold;
}
.title-post{
    float:left;
    margin-top: 8px;
    margin-bottom: 8px;
    color:#0CB8BB;
    font-size:15px;
    font-weight:bold;
}
.title-post a{
    color:#0CB8BB;
    font-size:15px;
    font-weight:bold;
}
.title-post a:hover{
    text-decoration: none;
}

.like_wraper {
    background:none repeat scroll 0 0 #EDEDED;
    border-bottom:1px solid #FFFFFF;
    float:left;
    padding-bottom:5px;
    width:96%;
    margin-top: 15px;
}
.like_wraper a{
    cursor:pointer;
    text-decoration: none;
    color: #777777
}
a.like {
    background:url("/images/like.png") no-repeat scroll 0 0 transparent;
    color:#777777;
    cursor:pointer;
    float:left;
    height:16px;
    margin-top:5px;
    padding-left:22px;
    width:60px;
}

.like_wraper div{
    color:#777777;
    cursor:pointer;
    height:16px;
    margin-top:5px;
    padding-left:5px;
}

.opt_message {
    float: right;
    width: 100px;
    margin-top: 10px;
}

a.opt_1 {
    background: url("../images/opt_1.png") no-repeat;
    width: 10px;
    height: 9px;
    float: right;
    margin-left: 10px;
}

a.opt_2{
    background: url("../images/opt_2.png") no-repeat;
    width: 10px;
    height: 10px;
    float: right;
    margin-left: 10px;
}

a.opt_3{
    background: url("../images/opt_3.png") no-repeat;
    width: 10px;
    height: 10px;
    float: right;
    margin-left: 10px;
}
a.opt_4{
    background: url("../images/unarchive.png") no-repeat;
    width: 10px;
    height: 10px;
    float: right;
    margin-left: 10px;
}

a.hovertitle .name_msg:hover {
    text-decoration: none;
}

.action_btn {
    background: url("../images/action.png") no-repeat;
    width: 10px;
    height: 10px;
    float: right;
    margin-left: 10px;
    margin-top: 2px;
}

.action_btn:hover {
    background: url("../images/action_hover.png") no-repeat;
}

.reply_form {
    background: none repeat scroll 0 0 #FFFFE4;
    border-top: 1px solid #DEDEDE;
    float: left;
    margin-top: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    width: 100%;
}
.reply_form .content {
    margin:0 auto;
    width: 500px;
}

.reply_form textarea {
    height: 60px;
    float: left;
    margin-left: 10px;
    width:440px;
}

.btn_reply {
    background: #e6e6e6;
    border: 1px solid #D3D3D3;
    border-radius: 0 0 0 0 !important;
    color: #AAAAAA;
    cursor: pointer;
    float: right;
    font-size: 12px;
    font-weight: bold;
    margin-right: 10px;
    padding: 5px;
    text-align: center;
    width: 58px;
}

btn_reply:hover {
    color: #555;
    border: 1px solid #aaa;
    text-decoration: none;
}

.title_message{
    padding: 5px;
    float: left;
    font-size: 15px;
    font-weight: bold;
}

a.attahce_btn {
    background: url("../images/attach0.png") no-repeat scroll 0 0 transparent;
    float: right;
    height: 16px;
    margin-right: 5px;
    margin-top: 5px;
    width: 16px;
}

a.attahce_btn:hover {
    background: url("../images/attach.png") no-repeat scroll 0 0 transparent;
}

a.image_btn {
    background: url("../images/camera0.png") no-repeat scroll 0 0 transparent;
    float: right;
    height: 16px;
    margin-right: 5px;
    margin-top: 7px;
    width: 16px;
}

a.image_btn:hover {
    background: url("../images/camera.png") no-repeat scroll 0 0 transparent;
}

.sender_opts {
    background-image: url("/images/message_opts.png");
    background-repeat: no-repeat;
    display: inline-block;
    height: 12px;
    width: 12px;
}

.dropdown {
    float: right;
    margin: 0 !important;
}
.dropdown dd, .dropdown dt, .dropdown ul {
    margin: 0;
    padding: 0;
}

.dropdown a, .dropdown a:visited {
    color: #AAAAAA;
    outline: medium none;
    text-decoration: none;
}

.dropdown a, .dropdown a:visited {
    color: #AAAAAA;
    text-decoration: none;
}

.dropdown dt a span {
    cursor: pointer;
    display: block;
    padding: 5px;
    color:#AAAAAA;
}

.dropdown a, .dropdown a:visited {
    color: #AAAAAA;
    text-decoration: none;
}

.dropdown dt a {
    background: url("../images/arrow.png") no-repeat scroll right center #E6E6E6;
    border: 1px solid #D3D3D3;
    display: block;
    height: 25px;
    margin-left: 5px;
    padding-right: 20px;
    width: 100px;
}

.dropdown dd {
    margin-left: 5px;
    position: relative;
}
.dropdown dd, .dropdown dt, .dropdown ul {
    margin: 0;
    padding: 0;
}

.dropdown dd ul {
    background: none repeat scroll 0 0 #E6E6E6;
    border: 1px solid #D3D3D3;
    border-top: none;
    color: #AAAAAA;
    display: none;
    left: 5px;
    list-style: none outside none;
    min-width: 120px;
    padding: 5px 0;
    position: absolute;
    /*    top: 2px;*/
    width: auto;
}

.dropdown dd, .dropdown dt, .dropdown ul {
    margin: 0;
    padding: 0;
}

.clear{
    clear:both;
}

#category_choices ul {
    list-style-type: none;
    margin: auto;
}
