<!-- Popup Content -->
<div id="dialog-form" title="New Message">
  <div id="new-message" style="width: 488px;">
  </div>
</div>
<div id="new-category-post-form" title="New Category">
  <div id="new-category" style="width: 488px;">
  </div>
</div>
<!-- //Popup Content -->