<!-- //Popup Content -->

<div class="tag_menu">
  <a class="btn_newmessage" id="create-user"> + Add New </a>
  <a class="btn_manage" id="create-user"> Manage Existing Posts </a>
</div>

<%= render :partial => 'list_message', :locals => {:posts => @posts} %>