<%= render "post_view_menu" %>
<%= render "post", {:post => @post, :with_comment => true, :mine => false} %>
<div class="clear"></div>
<% if user_signed_in? and can? :create_comment, Comment %>
  <div id="comment-form">
    <%= render "comment_form" %>
  </div>
<% else %>
  <i>Please <%= link_to "log in", new_user_session_path %> to post comment</i>
<% end %>

<script type="text/javascript">
  $(document).ready(function(){
    $("#comment-form").slideto({highlight: false});
  })
</script>